basePath: /
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: resturan
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Gin Swagger Example API
  version: "1.0"
paths:
  /v1/foodgroup:
    post:
      consumes:
      - '*/*'
      description: create a food group
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: create a food group
      tags:
      - food group
  /v1/user:
    get:
      consumes:
      - '*/*'
      description: get a user
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: get a user
      tags:
      - user
    post:
      consumes:
      - '*/*'
      description: create a user
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: create a user
      tags:
      - user
    put:
      consumes:
      - '*/*'
      description: put a user
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: put a user
      tags:
      - user
  /v1/user/:userId:
    delete:
      consumes:
      - '*/*'
      description: delete a user
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: delete a user
      tags:
      - user
  /v1/users:
    get:
      consumes:
      - '*/*'
      description: Get all users
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Get all users.
      tags:
      - user
  /v2/foodgroup:
    get:
      consumes:
      - '*/*'
      description: Get all food group
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Get all food group
      tags:
      - food group
    post:
      consumes:
      - '*/*'
      description: create a food group
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: create a food group
      tags:
      - food group
    put:
      consumes:
      - '*/*'
      description: Update a food group
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Update a food group
      tags:
      - food group
  /v2/foodgroup/:foodgroupId:
    delete:
      consumes:
      - '*/*'
      description: delete a food group
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: delete a food group
      tags:
      - food group
    get:
      consumes:
      - '*/*'
      description: Get a food group
      produces:
      - application/json
      responses:
        "200":
          description: OK
      summary: Get a food group
      tags:
      - food group
schemes:
- http
swagger: "2.0"
